<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>QR Code Generate App</title>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/home.css">

  <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/popper"></script>
  <script src="https://unpkg.com/bootstrap"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
 
</head>
<body>
  <!-- Navigation bar -->
  <nav class="navbar navbar-expand-sm" id="neubar">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="../static/Logo.png" height="60" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">          
          {% if not g.user %}
            <li class="nav-item">
              <a class="nav-link mx-2 {% if active_page == 'home' %} active {% endif %}" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 {% if active_page == 'login' %} active {% endif %}" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 {% if active_page == 'signup' %} active {% endif %}" href="/signup">Sign Up</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link mx-2 {% if active_page == 'collections' %} active {% endif %}" href="/users/{{g.user.id}}/collections">Your Collections</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 {% if active_page == 'generate' %} active {% endif %}" href="/users/{{g.user.id}}/generate_qrcode">Create QR</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 {% if active_page == 'logout' %} active {% endif %}" href="/logout">Logout</a>
            </li>
          {% endif %}         
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navigation bar -->

  <!-- Main -->
  <!-- <div class="container" > -->
  <main>
    <div class="container">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  
    {% block content %}
    {% endblock %}
    </div>
  </main>
  <!-- </div> -->
  <!-- End Main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">   

    <div class="footer-container">
      <div class="copyright">
        &copy; Copyright <strong><span>Truong Duong</span></strong>. All Rights Reserved
      </div>
      <div class="credits">     
        Designed by <a href="https://www.linkedin.com/in/truongduongit/">Truong Duong</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
</body>
</html>